@import "./variables";
@import "./mixins";

.notification{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: $White;

    &__isread{
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        background-color: $Verylightgrayishblue;
    }
    &__first-part{
    
        padding: 20px ;

        img{
            width: 60px;
        }
    }
    &__second-part{
        display: flex;
        justify-content: space-between;
        @include respond(mini-phone) {
            position: relative;  
        }
        &--1{
            margin-top: 15px;
        }
        &--img-div{
            margin-top: 25px;
            height: 50px;
            &:hover, &:active{
                transform: scale(1.3);
                cursor: pointer;
            }
            @include respond(mini-phone) {
                position: absolute;  
                right: 0%; 
                bottom: 0%; 
            }

        }
        &--nessage-div{
            color:$Darkgrayishblue;
            border: 2px solid $Lightgrayishblue2;
            padding: 15px 15px 15px 20px;
            width: 90%;
            border-radius: 3px;
            @include respond(mini-phone) {
                width: 60%;
            }
            &:hover,&:active{
                @include make-blue;
                color:$Darkgrayishblue;
                background-color: $Lightgrayishblue1;
            }
        }
    }
}


.span-div{
    &__time{
        color: $Grayishblue;
    }
    & span:nth-child(1){
        font-family: extraBoldJakarta;
        &:hover,&:active{
            @include make-blue;
        }
    }
    & span:nth-child(2){
        font-family: mediumBold;
        color: $Darkgrayishblue;
        margin-left: 5px;
    }
    &__subject{
        font-family: extraBoldJakarta;
        color: $Darkgrayishblue;
        margin-left: 5px;
        &:hover,&:active{
            @include make-blue;
        }
    }
    &__group{
        font-family: extraBoldJakarta;
        
        color: $Blue;
        margin-left: 5px;
        &:hover,&:active{
            @include make-blue;
        }
    }
    &__dot{
        display: inline-block;
        margin-top: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $Red;
        margin-left: 5px;
    }
}


.additional-class{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
}